.main-things {
    background-color: #F6FAFD;
    padding: 5em;
}

.our-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px); /* Three columns on large screens */
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8em;
}

.extras-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px); /* Three columns on large screens */
    gap: 50px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 576px) {
    .main-things {
        padding: 2em;
    }
}